.row {
  display: flex;
}

.square {
  display: inline-flex;
  height: 90px;
  width: 90px;
  border: 1px solid black;
  box-sizing:border-box;
}

.snake {
  background-color: green;
  height: 90px;
  width: 90px;
  border: 1px solid black;
  box-sizing: border-box;
  font-size: 18px;
}

.empty {
  background-color: peru;
  height: 90px;
  width: 90px;
  border: 1px solid black;
  box-sizing: border-box;
  font-size: 18px;
}

.food {
  background-color: cyan;
  height: 90px;
  width: 90px;
  border: 1px solid black;
  box-sizing: border-box;
  font-size: 18px;
}
